VITE_SUPABASE_URL=https://iajfsywgabuuparepqhl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhamZzeXdnYWJ1dXBhcmVwcWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxODUwNTksImV4cCI6MjEwMTc2MTA1OX0.VD7fhhRdhGQJit76EZ9MXDwhDymXgC19uxO2GcYgyho
